{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper">

      <div class="row">
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">69,420</h3>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Shulker Stock</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">69</h3>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Delivery Characters</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">12</h3>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Delivery Queue</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">420,069</h3>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Overall Item Count</h6>
            </div>
          </div>
        </div>
      </div>



    </div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>

{% endblock javascripts %}
